# Aula 04 - KNN

Predições de valores por meio do método dos K vizinhos mais próximos

In [1]:
def distancia_euclidiana(A, B):
    import math
    
    if len(A) != len(B):
        print("Vetores de tamanho diferente")
        return None
    
    soma = 0
    for i in range(len(A)):
        soma += (A[i]-B[i])**2   # soma = soma + (A[i]-B[i])**2
    return math.sqrt(soma)

In [2]:
A = [5, 3]
B = [1, 1.5]

In [3]:
distancia_euclidiana(A, B)

4.272001872658765

In [4]:
A = [1, 0, -1]
B = [5, 1.5, -9]

In [5]:
distancia_euclidiana(A, B)

9.069178573608527

In [6]:
A = [1, 0, -1]
B = [5, 1.5, -9, 25]

In [7]:
if distancia_euclidiana(A, B) == None:
    print("Deu erro!")

Vetores de tamanho diferente
Deu erro!

In [9]:
import pandas as pd
colunas = ["temporada", "idade", "doenças infantis", "acidente", 
           "cirurgia", "febre", "alcool", "fumo", "horas_sentado", 
           "output"]
df = pd.read_csv("fertility_Diagnosis.txt", header=None)

In [10]:
# -0.33,0.69,0,1,1,0,0.8,0,0.88,N

In [11]:
df.head(5)

      0     1  2  3  4  5    6  7     8  9
0 -0.33  0.69  0  1  1  0  0.8  0  0.88  N
1 -0.33  0.94  1  0  1  0  0.8  1  0.31  O
2 -0.33  0.50  1  0  0  0  1.0 -1  0.50  N
3 -0.33  0.75  0  1  1  0  1.0 -1  0.38  N
4 -0.33  0.67  1  1  0  0  0.8 -1  0.50  O

In [12]:
df.columns = colunas

In [13]:
df.head(5)

,temporada,idade,doenças infantis,acidente,cirurgia,febre,alcool,fumo,horas_sentado,output
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,N
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,O
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O

In [14]:
df["output"]

0     N
1     O
2     N
3     N
4     O
     ..
95    N
96    N
97    N
98    N
99    N
Name: output, Length: 100, dtype: object

In [15]:
def troca_label(label):
    if label == "N":
        return 0
    else: 
        return 1

In [16]:
df["output"] = df["output"].apply(troca_label)

In [17]:
df.head(5)

,temporada,idade,doenças infantis,acidente,cirurgia,febre,alcool,fumo,horas_sentado,output
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,0
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,1
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,0
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,0
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,1

In [18]:
df.iloc[0]

temporada          -0.33
idade               0.69
doenças infantis    0.00
acidente            1.00
cirurgia            1.00
febre               0.00
alcool              0.80
fumo                0.00
horas_sentado       0.88
output              0.00
Name: 0, dtype: float64

In [19]:
df.iloc[0]["horas_sentado"]

0.88

In [20]:
df.iloc[3].to_list()

[-0.33, 0.75, 0.0, 1.0, 1.0, 0.0, 1.0, -1.0, 0.38, 0.0]

In [21]:
df.head(5)

,temporada,idade,doenças infantis,acidente,cirurgia,febre,alcool,fumo,horas_sentado,output
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,0
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,1
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,0
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,0
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,1

In [22]:
A = df.iloc[0].to_list()
B = df.iloc[1].to_list()

In [23]:
A

[-0.33, 0.69, 0.0, 1.0, 1.0, 0.0, 0.8, 0.0, 0.88, 0.0]

In [24]:
B

[-0.33, 0.94, 1.0, 0.0, 1.0, 0.0, 0.8, 1.0, 0.31, 1.0]

In [25]:
distancia_euclidiana(A, B)

2.094612135933524

In [26]:
df.head(5)

,temporada,idade,doenças infantis,acidente,cirurgia,febre,alcool,fumo,horas_sentado,output
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,0
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,1
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,0
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,0
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,1

# ALGORITMO DO KNN : 


- indicar o valor de K 

- calcular a distância do ponto '+' até todos os pontos do dataset

- ordenar as distâncias em ordem crescente 

- pegar as K menores distâncias (ou seja, selecionar os K pontos mais próximos) 

- verificar qual a categoria mais votada dentre os K pontos selecionados 

- atribuir a categoria mais votada para o ponto '+'

In [27]:
df.shape

(100, 10)

In [28]:
import math
math.sqrt(100)

10.0

In [29]:
def info_dataset(df): 
    total_positivo = 0
    total_negativo = 0
    for i in range(df.shape[0]):
        if df.iloc[i]["output"] == 1:
            total_positivo += 1
        else:
            total_negativo += 1
    return df.shape[0], total_positivo, total_negativo

In [30]:
df[df["output"] == 0].shape

(88, 10)

In [31]:
n, n_pos, n_neg = info_dataset(df)
print("Total de amostras: " + str(n))
print("\tTotal de amostras positivas: " + str(n_pos))
print("\tTotal de amostras negativas: " + str(n_neg))

Total de amostras: 100
	Total de amostras positivas: 12
	Total de amostras negativas: 88

In [32]:
k = int(math.sqrt(n))
if k % 2 == 0:
    k += 1
k

11

In [33]:
# dataset = lista de índices dos valores do dataframe a sere usados como treinamento
def knn(dataset, amostra, k): 
    
    #calcular a distância do ponto 'amostra' até todos os pontos do dataset
    distancias = {}
    for i in dataset: 
        d = distancia_euclidiana(amostra, df.iloc[i].to_list())
        distancias[i] = d

    #ordenar as distâncias em ordem crescente e pegar as K menores distâncias 
    #(ou seja, selecionar os K pontos mais próximos)
    pontos_proximos = sorted(distancias, key=distancias.get)[:k]

    #verificar qual a categoria mais votada dentre os K pontos selecionados
    quantidade_pos = 0
    quantidade_neg = 0
    for ponto in pontos_proximos:
        if df.iloc[ponto]["output"] == 1:
            quantidade_pos += 1
        else:
            quantidade_neg += 0

    #atribuir a categoria mais votada para o ponto 'amostra'
    if quantidade_pos > quantidade_neg:
        return 1
    else: 
        return 0

In [34]:
dataset = [1, 4, 7, 9, 20, 56, 78, 34, 55, 67 , 69, 20, 33, 25, 31, 32]
amostra = [-0.33, 0.69, 0.0, 1.0, 1.0, 0.0, 0.8, 0.0, 0.88, 0.0]
resposta = knn(dataset, amostra, k)
resposta

1

In [35]:
# Divisão do dataframe em treino e teste 
porcentagem = 0.8

treinamento = []
teste = []

treinoPos = 0
treinoNeg = 0
for i in range(df.shape[0]):
    if df.iloc[i]["output"] == 1:
        if treinoPos <= n_pos * porcentagem: 
            treinamento.append(i)
            treinoPos += 1
        else: 
            teste.append(i)
    else:
        if treinoNeg <= n_neg * porcentagem: 
            treinamento.append(i)
            treinoNeg += 1
        else: 
            teste.append(i)

In [36]:
len(treinamento)

81

In [37]:
len(teste)

19

In [38]:
treinamento

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80]

In [39]:
pos = 0
neg = 0
for i in treinamento: 
    if df.iloc[i]["output"] == 1:
        pos += 1
    else:
        neg += 1
print("Total de amostras positivas no TREINAMENTO: " + str(pos))
print("Total de amostras negativas no TREINAMENTO: " + str(neg))

Total de amostras positivas no TREINAMENTO: 10
Total de amostras negativas no TREINAMENTO: 71

In [40]:
teste

[81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [41]:
acertos = 0
for i in teste: 
    amostra = df.iloc[i].to_list()
    label = df.iloc[i]["output"]
    resposta = knn(treinamento, amostra, k)
    print(f"Amostra {i} | Verdade: {label} | Predicao: {resposta}")
    
    if resposta == label: 
        acertos += 1   # acertos = acertos + 1


acc = (acertos / len(teste)) * 100

print(f"\nO total de acertos é: {acertos}")
print(f"A acurária do KNN é: {acc:.2f}%")

Amostra 81 | Verdade: 0.0 | Predicao: 0
Amostra 82 | Verdade: 0.0 | Predicao: 0
Amostra 83 | Verdade: 0.0 | Predicao: 0
Amostra 84 | Verdade: 1.0 | Predicao: 1
Amostra 85 | Verdade: 0.0 | Predicao: 0
Amostra 86 | Verdade: 0.0 | Predicao: 1
Amostra 87 | Verdade: 0.0 | Predicao: 0
Amostra 88 | Verdade: 0.0 | Predicao: 0
Amostra 89 | Verdade: 0.0 | Predicao: 1
Amostra 90 | Verdade: 0.0 | Predicao: 0
Amostra 91 | Verdade: 0.0 | Predicao: 1
Amostra 92 | Verdade: 0.0 | Predicao: 1
Amostra 93 | Verdade: 1.0 | Predicao: 1
Amostra 94 | Verdade: 0.0 | Predicao: 1
Amostra 95 | Verdade: 0.0 | Predicao: 0
Amostra 96 | Verdade: 0.0 | Predicao: 0
Amostra 97 | Verdade: 0.0 | Predicao: 0
Amostra 98 | Verdade: 0.0 | Predicao: 0
Amostra 99 | Verdade: 0.0 | Predicao: 0

O total de acertos é: 14
A acurária do KNN é: 73.68%

## Na próxima aula! 

Vamos obter as métricas de avaliação do KNN continuando esse código, e também vendo uma forma de utilização do KNN a partir de bibliotecas de Python!

In [42]:
amostra

[-1.0, 0.69, 0.0, 1.0, 1.0, 0.0, 0.6, -1.0, 0.19, 0.0]